@model Vehicle
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["title"] = "Edit a vehicle";
}

<h1>Edit Vehicle:</h1>
<form method="post" asp-controller="Vehicle" asp-action="Edit">
	<select asp-for="VehicleManufacturer">
		<option value="Tesla">Tesla</option>
		<option value="BMW">BMW</option>
		<option value="Kia">Kia</option>
	</select>


	<label asp-for="VehicleModel"></label>
	<input type="text" asp-for="VehicleModel" />
	<div>
		<span asp-validation-for="VehicleModel"></span>
	</div>


	<label asp-for="VehicleYear"></label>
	<input type="number" asp-for="VehicleYear" />
	<div>
		<span asp-validation-for="VehicleYear"></span>
	</div>


	<label asp-for="VehicleAvailability"></label>
	<input type="checkbox" asp-for="VehicleAvailability" />
	<div>
		<span asp-validation-for="VehicleAvailability"></span>
	</div>


	<label asp-for="VehicleStatus"></label>
	<input type="text" asp-for="VehicleStatus" />
	<div>
		<span asp-validation-for="VehicleStatus"></span>
	</div>

	<button type="submit">Save</button>
</form>