<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["title"]</title>
    <link rel="stylesheet" href="~/CSS/styles.css">
</head>
<body>
    <nav class="navigation flex-row">
        <div class="flex-row">
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Vehicle" asp-action="Index">Vehicles</a>
            <a asp-controller="Customer" asp-action="Index">Customers</a>
            <a asp-controller="Reservation" asp-action="Index">Customers</a>
            <a asp-controller="Report" asp-action="Index">Customers</a>
        </div>
        <div class="flex-row">
            <a asp-controller="Account" asp-action="Login">Login</a>
            <a asp-controller="Account" asp-action="Register">Register</a>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
