<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CSS/styles.css">
</head>
<body>
    <nav class="navigation flex-row">
        <div class="flex-row">
            <a asp-controller="Home" asp-action="Index">Home</a>
            <a asp-controller="Vehicle" asp-action="Index">Vehicles</a>
            <a asp-controller="Customer" asp-action="Index">Customers</a>
            <a asp-controller="Reservation" asp-action="Index">Customers</a>
            <a asp-controller="Report" asp-action="Index">Customers</a>
        </div>
        <div class="flex-row">
            <a asp-controller="Account" asp-action="Login">Login</a>
            <a asp-controller="Account" asp-action="Register">Register</a>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>


    <footer class="border-top footer text-muted">
        <div class="container text-center">
            <p>&copy; 2025 - _3M1LVehicleRentalsMs -  </p>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
