@model _3M1L_vehicle_rental_ms.Models.Customer

<form asp-action="Create" method="post">
    <label>Name:</label>
    <input asp-for="JokeQuestion" />
    <label>Email:</label>
    <input asp-for="JokeAnswer" />
    <button type="submit">Create</button>
</form>