@model _3M1L_vehicle_rental_ms.Models.Customer

<h3>Are you sure you want to delete this customer?</h3>
<p>Name: @Model.JokeQuestion</p>
<p>Email: @Model.JokeAnswer</p>
<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Delete</button>
</form>
