@model _3M1L_vehicle_rental_ms.Models.Customer

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <label>Name:</label>
    <input asp-for="JokeQuestion" />
    <label>Email:</label>
    <input asp-for="JokeAnswer" />
    <button type="submit">Save</button>
</form>
